<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="https://www.thymeleaf.org/">-->
<!--<head th:replace="~{fragments :: head}"></head>-->
<!--<body>-->
<!--<header th:replace="~{fragments :: header}"></header>-->
<!--<div id="admin-bar">-->
<!--    <div class="nav">-->
<!--        <a class="navlink" href="/journal">View Journal</a>-->
<!--    </div>-->
<!--</div>-->
<!--<main>-->
<!--    <h3>Add Artwork</h3>-->
<!--    <form action='/journal/add' method='POST'>-->
<!--        <input type='text' name='journal' />-->
<!--        <button type='submit'>Add to Journal</button>-->
<!--    </form>-->
<!--</main>-->
<!--</body>-->
<!--</html>-->